<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>admin_demo</title>
<style>
	.main .item ,.main .item .chunk{
		display:flex;
		height:10rem;
	}
	.main .item .chunk i, .main .item .chunk .piece{
		border:1px solid #000;
		border-radius: 5px;
		padding:.5rem;
		margin: .5rem;
	}
</style>
</head>
<body>
</head>
<!-- 
<p class="title">
	<span onclick="upload.click()">导入数据</span>
	<span>下载Excel模板</span><span>数据导出</span><span>筛选字段</span>
</p>
<div id="drop">
<input type="file" id="upload" name="" v-show="false">
</div>
<div id="wrap">
<div id="table"></div>
</div>
-->
	<!-- 布局 -->
	<div id="theme" class='admin'>
		<div class="main">
			<div class="item">
				<div v-for="i in data.db.theme" class="chunk">
				<button>{{i.name}}</button>
				<div>
					<button v-for="x in data.db.db" v-if="x.theme == i.id" class="piece" @click="mask(x)"><p>主题ip:{{x.ip}}<i v-if="x.real == 1">R</i><i v-if="x
					.editable == 1">E</i><i v-if="x.onz == 1">ON</i>主题id:{{x.theme}}</button>
				</div>
				</div>
			</div>
		</div>
		<div class="mask">
			<div class="item" v-if="current">
				<p>主题ip:{{current.record.ip}}<i v-if="current.record.real == 1">R</i><i v-if="current.record.editable == 1">E</i><i v-if="current.record.onz == 1">ON</i>主题id:{{current.record.theme}}</p>
				<table>
				<tr v-for="(i,index) in current.source">
				<td>{{index}}:{{i}}</td>
				</tr>
				</table>
			</div>
		</div>
		<div>
		<button onclick="alert('跳转到页')">1</button>
		</div>
	</div>
	
	<!-- +++ -->
	
	<script src="../public/js/vue.min.js"></script>
	<script src="../public/js/jszip.js"></script>
	<script src="../public/js/xlsx.js"></script>
	
<script> 
var data={
	db:{
		db:[
			{
				id:"1",
				ip:"127.0.0.2",
				name:"数据源1",
				theme:'1',
				real:"0",
				editable:"0",
				onz:"1"
			},
			{
				id:"2",
				ip:"127.0.0.1",
				name:"数据源2",
				theme:'1',
				real:"1",
				editable:"0",
				onz:"1"
			},
			{
				id:"3",
				ip:"127.0.0.3",
				name:"数据源3",
				theme:'2',
				real:"1",
				editable:"1",
				onz:"1"
			}
		],theme:[
			{
				id:"1",
				name:"全渠道"
			},
			{
				id:"2",
				name:"智能智造"
			}
		]
	},
	d:{
		"数据源1":{
				name:"marina"
		},
		"数据源2":{
				location:"156,133"
		},
		"数据源3":{
				count:"2000"
		}
	}
}
var app = new Vue({
	el: '#theme',
	data:{
		data:data,
		current:""
	},
	methods:{
		mask:function(e){
			this.current={record:e,source:this.data.d[e.name]}
			console.log(this.current)
		}
	}
});
/*
var obj={}
for(var i in temp){
	obj[i]=false;
}
var app = new Vue({
	el: '#theme',
	data:{
		hide:obj,
		data:temp
	},
	methods:{
		show:function(e){
			for(var i in this.hide){
				this.hide[i]=false;
			}
			this.hide[e]=true;
		},
		file(e){
			console.log(window.URL.createObjectURL(e.files[0]))
		}
	  },
	  mounted(){
		var self=this;

		}//【mounted结束】
});
*/
	
var drop = document.getElementById("drop"),
	upload = document.getElementById("upload"),
	tableC = document.getElementById("table");
	X = XLSX,
	rAbs = typeof FileReader !== "undefined" && typeof FileReader.prototype !== "undefined" && typeof FileReader.prototype.readAsBinaryString !== "undefined";
drop.addEventListener('click',handleClick,false);
drop.addEventListener('dragover',handleDragOver,false);
drop.addEventListener('dragleave',handleDragLeave,false);
drop.addEventListener('mouseout',handleDragLeave,false);
drop.addEventListener('drop',function(){
	handleDrop(function(data){
		makeTable(data);
	})
},false);
upload.addEventListener('change',function(){
	handleChange(function(data){
		makeTable(data);
	})
},false);
function clearTable(){
	tableC.innerHTML = '';
}
function makeTable(data){
	clearTable();
	for(var index in data){ //遍历每个表
		var table = document.createElement("table"),
			tr = document.createElement("tr"),
			td = document.createElement("td"),
			keys = Object.keys(data[index][0]);
		td.innerHTML = index + "数据";
		td.colspan = keys.length;
		tr.appendChild(td);
		table.appendChild(tr);
		table.setAttribute("class","table")
		tr = document.createElement("tr");
		for(var i=0,len=keys.length;i<len;i++){
			td = document.createElement("td");
			td.innerHTML = keys[i];
			tr.appendChild(td);
		}
		table.appendChild(tr);
		for(var i=0,len=data[index].length;i<len;i++){ //循环表中每条数据
			tr = document.createElement("tr")
			var item = data[index][i];
			for(var col in item){
				td = document.createElement("td");
				td.innerHTML = item[col];
				tr.appendChild(td);
			}
			table.appendChild(tr);
		}
		tableC.appendChild(table);
	}
}
function handleFile(files,callback){
	var f = files[0],
		reader = new FileReader(),
		name = f.name;
	reader.onload = function(){
		var data = event.target.result,
			wb;
		if(rAbs){
			wb = X.read(data,{type : 'binary'});
		}else{
			var arr = fixData(data);
			wb = X.read(btoa(arr),{type : 'base64'});
		}
		console.log(JSON.stringify(to_json(wb).Sheet1))
		//xhrPOST("http://localhost:7171")
		callback && callback(to_json(wb));
	}
	if(rAbs){
		reader.readAsBinaryString(f)
	}else{
		reader.readAsArrayBuffer(f);
	}
	upload.value = '';
}
function fixdata(data) {
	var o = "", l = 0, w = 10240;
	for(; l<data.byteLength/w; ++l) o+=String.fromCharCode.apply(null,new Uint8Array(data.slice(l*w,l*w+w))); o+=String.fromCharCode.apply(null, new Uint8Array(data.slice(l*w))); return o; } function to_json(workbook) { var result = {}; workbook.SheetNames.forEach(function(sheetName) { var roa = X.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]); if(roa.length > 0){
			result[sheetName] = roa;
		}
	});
	return result;
}
function handleClick(){
	upload.click();
}
function handleChange(callback){
	if(upload.value){
		handleFile(event.target.files,callback);
	}
}
function handleDrop(callback){
	event.preventDefault();
	event.stopPropagation();
	handleFile(event.dataTransfer.files,callback);
}
function handleDragOver(){
	event.preventDefault();
	event.stopPropagation();
	drop.className = 'active';
}
function handleDragLeave(){
	drop.className = '';
}		
/*
    var wsUri ="ws://192.168.147.107:7676?id=xz&psw=000000xz&type=jnoos"; 
	
	var app = new Vue({
	    el: '#app',
	    data: {
		  db:{},
		  table:{},
		  item:{},
		  add:false
	    },
	    mounted:function(){
		  testWebSocket();
	    },
		watch: {  
			'd': 'change'
		},
		methods:{
			change:function(){
				this.d=this.d;
				
			},
			connection:function(id,db){
				websocket.send(JSON.stringify({id:id,db:db}))
			},
			show:function(e){
				console.log(e)
				this.item=e.data;
				this.add=true;
				console.log(e.data)
			}
		}
	})
    function testWebSocket() { 
        websocket = new WebSocket(wsUri); 
        websocket.onopen = function(evt) { 
            onOpen(evt) 
        }; 
        websocket.onclose = function(evt) {
            onClose(evt) 
        }; 
        websocket.onmessage = function(evt) { 
            onMessage(evt) 
        }; 
        websocket.onerror = function(evt) { 
            onError(evt) 
        }; 
    }  
 
    function onOpen(evt) { 
		console.log("connected")
        //doSend("WebSocket rocks"); 
    }  
 
    function onClose(evt) { 
        console.log("连接关闭")
    }  
    function onMessage(evt) { 
		var results=JSON.parse(evt.data)
		if(results[0].name){
			console.log(results)
			app._data.table=results;
		}else{
			app._data.db=results;
		}
    }  
 
    function onError(evt) { 
		console.log("出错啦>-<")
        console.log(evt)
    }  
 
    function doSend(message) { 
        websocket.send(message); 
    } 
*/	
</script> 
</body>
</html>