<% include index.ejs %>
<table>
	<tr>
		<td></td>
	</tr>
</table>
<script src="js/vue.min.js"></script>
<script>  
	var app = new Vue({
	    el: '#app',
	    data: {
			
		},
		methods:{
		}
	});
</script>