<div class="login item">
    <div id="darkbannerwrap"></div>

    <form method="post" style="text-align:center;">
        <input name="action" value="login" type="hidden">
        <input name="username" placeholder="用户名" required="" type="text">
        <hr class="hr15">
        <input name="password" placeholder="密码" required="" type="password">
        <hr class="hr15">
        <input value="登录"  type="submit">
        <hr class="hr15">
        <div id="show" align="center"></div>
    </form>
</div>
<script>  
</script>